.userList {
  flex: 4;
  padding: 1em;
  .action-div {
    display: flex;
    align-items: center;
    .edit-btn {
      margin-right: 30px;
      border: none;
      font-size: 17px;

      background-color: #3bb077;
      color: white;
      padding: 0.25em 0.7em;
      border-radius: 5px;
      cursor: pointer;
    }
    .deleteIcon {
      font-size: 30px;
      cursor: pointer;
      color: orangered;
    }
  }
  .userCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-img {
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        object-fit: cover;
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }
    }
  }
}
