.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
  .left {
    h1 {
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .icon-notification-div {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 1em;
      .notification {
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        height: 1em;
        width: 1em;
      }
      .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
