.sidebar {
  background-color: rgb(250, 251, 255);
  padding: 1em;
  position: sticky;
  top: 64px;
  //   z-index: 999;
  .sidebar-section {
    margin-bottom: 1em;
    .sidebar-title {
      margin-bottom: 10px;
      font-size: 15px;
      color: #777;
    }
    .sidebar-list {
      list-style: none;
      .sidebar-li {
        cursor: pointer;
        border-radius: 5px;
        padding: 0.15em 0.5em;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: #555;
        span {
          margin-left: 0.4em;
          font-weight: 600;
          font-size: 17px;
        }
        &:hover,
        &:focus {
          background-color: rgb(226, 251, 255);
          //   background-color: red;
        }
      }
    }
  }
}
